a[href*="updog"] {
    display: none !important
}


/*除了input以外的所有元素*/

*:not(input) {
    border: 0px solid #eee;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: monospace;
}

html,
body {
    height: 100%;
}

body {
    /*padding: 10px;*/
    background: #fff url(https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_960_720.jpg) no-repeat scroll left center;
    background-size: cover;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 14px;
    font-weight: normal;
}

#tip-box {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 5px;
    width: 12.5%;
    padding: 10px 0px;
    position: absolute;
    top: 30%;
    left: 43.75%;
    text-align: center;
    z-index: 200;
    transition: all 1s;
}

#alert-box,
#confirm-box,
#login-box {
    background-color: rgba(250, 250, 250, 0.9);
    border: 1px solid #f97352;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 25%;
    position: absolute;
    top: 25%;
    left: 37.5%;
    text-align: center;
    z-index: 100;
}

#alert-box h1,
#confirm-box h1,
#login-box h1 {
    background-color: #f97352;
    color: #fff;
    margin: 3px;
}

#alert-box p,
#confirm-box p {
    margin: 20px 10px;
}

#alert-box input[type=button],
#confirm-box input[type=button] {
    background-color: #f97352;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    margin: 10px;
}

#alert-box input[type=button]:hover,
#confirm-box input[type=button]:hover {
    background-color: #db593b;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.mask-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: xx-large;
    cursor: pointer;
    border: 1px dotted;
    padding: 5px;
}

#close-button {
    color: #666;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    opacity: .6;
    transition: opacity 300ms ease-in-out 0s;
}

#close-button::before {
    content: "X";
}

.login-select-button {
    padding: 20px;
}

.login-type-button {
    position: relative;
    padding: 0;
    min-width: 150px;
    height: 26px;
    cursor: pointer;
    margin: 5px 0;
}

.login-type-button::before {
    position: absolute;
    top: 3px;
    left: 5px;
    content: "";
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 20px;
    font-size: large;
}

#login-guest {
    transition: all 0.3s;
    background-color: #989898;
    color: #fff;
}

#login-guest:hover {
    transition: all 0.3s;
    background-color: #7e7e7e;
}

.guest::before {
    content: "\f2bd";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    border-radius: 50%;
}

#login-twitter {
    transition: all 0.3s;
    background-color: #55acee;
    color: #fff;
}

#login-twitter:hover {
    transition: all 0.3s;
    background-color: #3092d3;
}

#login-twitter::before {
    font-family: Font Awesome\ 5 Brands;
    content: "\f099";
    /*border-radius: 50%;*/
}

#login-google {
    transition: all 0.3s;
    background-color: #dd4b39;
    color: #fff;
}

#login-google:hover {
    transition: all 0.3s;
    background-color: #bd2c22;
}

#login-google::before {
    font-family: Font Awesome\ 5 Brands;
    content: "\f3a9";
    /*border-radius: 50%;*/
}

#login-facebook {
    transition: all 0.3s;
    background-color: #3b5b9b;
    color: #fff;
}

#login-facebook:hover {
    transition: all 0.3s;
    background-color: #1f4582;
}

#login-facebook::before {
    font-family: Font Awesome\ 5 Brands;
    content: "\f39e";
    /*border-radius: 50%;*/
}

#guest-login {
    display: none;
}

#guest-login>div {
    padding: 20px;
}

#member-list {
    /*display: none;*/
    color: #fff;
    padding: 15px 10px;
    /*text-shadow: 0px 0px 5px black;*/
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    box-sizing: border-box;
}

#member-list>ul {
    display: table;
    margin: 10px 0px;
}

#member-list>ul>li {
    float: left;
}

#member-list>ul>li:nth-child(2) {
    margin-left: 10px;
    font-size: 20px;
    line-height: 50px;
}

#user-info {
    /*display: none;*/
    position: relative;
    border: 1px solid black;
    /*padding: 10px;*/
    /*width: fit-content;*/
    text-align: center;
    width: 20%;
    height: 100%;
    float: left;
    margin-right: 1%;
    height: inherit;
    overflow: hidden;
    /*background-color: rgba(0,0,0,0.5);*/
}

.width7person {
    width: 7% !important;
}

.width92person {
    width: 92% !important;
}

.arrow-btn {
    position: absolute;
    font-size: 30px;
    line-height: 40px !important;
    right: 10px;
    cursor: pointer;
}

.member-wrap {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1px 6px 2px #000;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-sizing: border-box;
}

#guest-username {
    /*text-align: center;*/
    outline: none;
    margin: 20px;
    padding: 5px;
    border-bottom-color: #80b620;
    border-width: 0px 0px 1px;
    background-color: transparent;
    max-width: -webkit-fill-available;
}

.login-button {
    transition: all 0.3s;
    margin: 0px 5px 20px;
    border: none;
    /*border-radius: 4px;*/
    transition: background-color 300ms ease-in-out 0s;
    background-color: #80b620;
    color: #fff;
    padding: 8px 30px;
    cursor: pointer;
}

.login-button:hover {
    transition: all 0.3s;
    background-color: #649a00;
}

.back {
    transition: all 0.3s;
    background-color: #888;
}

.back:hover {
    transition: all 0.3s;
    background-color: #707070;
}

#chat-wrap {
    /*border: 1px dashed black;*/
    /*margin-top: 10px;*/
    position: relative;
    padding: 10px;
    width: 79%;
    float: left;
    height: 100%;
}

#chat-input {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    width: 100%;
    padding: 5px;
    /*background-color: darkgray;*/
    border: 2px solid #655547;
    box-shadow: 0px 0px 2px #000;
    border-radius: 10px;
}

.input-tip {
    font-size: 12px;
    color: red;
}

#chat-list {
    font-size: 20px;
    overflow: auto;
    position: absolute;
    top: 137px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#chat-list>ul {
    margin: 5px 0px;
}

#chat-list>ul>li:nth-child(1) {
    vertical-align: top;
    width: 100px;
}

#chat-list>ul>li:nth-child(2) {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 5px;
}

#chat-list>ul>li:nth-child(2)>li {
    position: absolute;
    bottom: -16px;
    right: 5px;
    color: darkcyan;
}

#chat-list>ul>li:nth-child(2)::before {
    position: absolute;
    top: 2px;
    left: -25px;
    content: '';
    width: 0;
    height: 0;
    border: 15px solid white;
    border-color: transparent white transparent transparent;
}

#chat-list>ul>li:nth-child(1n) {
    display: inline-block;
}

#chat-list>ul>li>li:nth-child(1n) {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


/*#chat-list>ul>li>li:nth-child(2) {
	font-size: 14px;
}*/

.none-style {
    display: none !important;
}

.block-style {
    display: block !important;
}

.white-space-pre {
    white-space: pre-wrap;
}

.animated {
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}